body {
	/* Удаление отступов, подключение и настройка основных шрифтов */
	margin: 0;
	font-size: 14px;
	background: gray;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

.container {
	width: 100%; /* Если ширина контента меньше нижнего пункта, тогда контент занимает 100% от ширины экрана */
	max-width: 1180px; /* Максимальная ширина всего контента */
	margin: 0 auto; /* Выравнивание по центру весь контент */
	padding: 0 15px; /* Отступ чтобы контент не прилипал к краю экрана */
}

@font-face {
	font-family: 'NextArt Light';
	src: url(/public/fonts/NEXT\ ART_Light.otf) format('otf');
	font-weight: 200;
}

@font-face {
	font-family: 'NextArt Regular';
	src: url(/public/fonts/NEXT\ ART_Regular.otf) format('otf');
	font-weight: 400;
}

@font-face {
	font-family: 'NextArt SemiBold';
	src: url(/public/fonts/NEXT\ ART_SemiBold.otf) format('otf');
	font-weight: 600;
}

@font-face {
	font-family: 'NextArt bold';
	src: url(/public/fonts/NEXT\ ART_Bold.otf) format('otf');
	font-weight: 700;
}

@font-face {
	font-family: 'NextArt heavy';
	src: url(/public/fonts/NEXT\ ART_Heavy.otf) format('otf');
	font-weight: 900;
}